.storyline p{
    font-family: serif;
    text-align: justify;
    
}
.myreview{
    font-family: serif;
    text-align:justify;
}

.content-area{
  
    
    padding:4%;
    padding-top: 0;
}
.poster{
    margin:auto;
    width:60vw;
    height:fit-content;
    box-sizing: border-box;
    
}
.picture{

    
    
    /* padding-left: 10%; */
    
    box-sizing: border-box;
}


.details{
    padding-left:0.5% ;
    font-family: serif;

}

.castcontainer{
    display: grid;

    grid-template-columns: repeat(auto-fit ,minmax(150px,1fr));
     grid-column-gap:1rem;
     grid-row-gap: 1rem;
    
    height: fit-content;
    box-sizing: border-box;
}
.castboxes{
    
    box-sizing: border-box;
    
    
}
.castbox{
    box-sizing: border-box;
    width:90%;
    
    
}
.castbox img{
    height: 190px;
    width:100%;
    border-radius: 40px;
}


.container-2{
    
    display: grid;

    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    grid-column-gap:0.5rem;
    
}
.boxes-2{
    box-sizing: border-box;

    
}


iframe{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}
h4{
    margin-left: 25px;
}
.footer {
    z-index: 4px;
    color: white;
    
  }
  footer {
    display: flex;
    justify-content: center;
    background-color: #0c0c0c;
  align-items: centre;
  height: fit-content;
  font-size: 1.2rem;
    z-index: 4;
    padding-top: 1%;
    
    
  }
  
  footer span,
  a {
    color: rgb(245, 60, 4);
  }
.updated_on{
    display:flex;
    float:right;
    
    margin-top: -9vh;
    
}

@media(max-width:700px){
    h4{
        margin-left: 8px;
    }
    .container-2{
        margin-left: 0vw;
        
        
    }
    .poster{
        width:90vw;
    }
}