
.navbar-custom {  
  background-color:rgb(10, 10, 10);

}  

.navbar-custom .navbar-brand,  
.navbar-custom .navbar-text ,

.navbar-custom ul li a {  
  color: rgb(123, 120, 117);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}  
a.nav-link{
  font-size: 1.7rem;
}

body {
    margin: 0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    width: 100%;
  
  }
  .swiper-wrapper{
    width:15vw;
  }



nav ul li{
    padding-left:0px;
    
    
  }
  nav ul li a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:1.3rem;
   font-weight: 400;
   
  }
  nav ul li a:hover{
       color:red;
  }
  nav ul{
    
  margin-left: 25vw;
  
    
  }
  
  
  
 
  
  
  
  

  
 
  
  hr.h-color {
    background: rgb(100, 22, 22);
  }
  
  
  .title {
    width: 59%;
    padding-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
  }
  
  .content-area {
    background: #fdfcfc;
    margin-top: 0px;
  width: 100%;
    height: fit-content;
    z-index: 3;
  }
  span.name {
    
    color:white;
    padding-left: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .footer {
    z-index: 4px;
    color:rgb(158, 155, 155);
  }
  footer {
    display: flex;
    justify-content: center;
    background-color:rgb(4, 4, 4);;
  align-items: centre;
  height: fit-content;
  font-size: 1.2rem;
    z-index: 4;
    padding-top: 1%;
    color:white;
    
    
  }
  
  footer span,
  a {
    color: rgb(239, 58, 8);
  
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  
    grid-gap: 1rem;
  }
  .box {
      
      
      border-radius: 10px;
      height:250px;
    
  }
  .box:hover{
    box-shadow: 0px -5px 51px 0px rgb(125, 119, 119);
    
      
  }
  .box{
    
    background-position:center;
    background-size:cover;
    
  }
  img{
    background-size: cover;
      max-width: 100%;
      max-height: 100%;  
  }
 




  /* movie.css */
  
  
  @media (max-width: 767px) {

  
    .content-area {
      
        width: 100vw;
      margin-left: 0px;
      
    }
    
    .title {
      display: none;
    }
    .swiper-slide img {
      margin-top: 0;
      width: 100%;
      /* height: 45vh; */
    }
   
    
  }
  
  @media (min-width: 767px) {
    
    h1.title {
      margin-top: 0;
      margin-left: 20px;
    }
    .content-area {
    width:100%;
    }
    footer {
      /* padding: 10px; */
      /* padding-left: 21%; */
    }
  }
  
  @media (min-width: 1066px) {
    
    .content-area {
  
     width:100%;
      
    }

      
    
    }
    @media(max-width:767px ) and (min-width:500px){
     
      

      .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
      
        grid-gap: 1rem;
      }
      .box {
          
          
          
          height:200px;
        
      }
    }
    @media(max-width:500px ){
     
      

      .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
      
        grid-gap: 1rem;
      }
      .box {
          
          
          
          height:160px;
        
      }
    }
    @media(min-width:1100px){
    
     
    
    }
    

    /* social */
    .sticky-container{
      padding:0px;
      margin:0px;
      position:fixed;
      right:-138px;
      top:29%;
      width:210px;
      z-index: 1100;
  }
  .sticky li{
      list-style-type:none;
      background-color:#fff;
      color:#efefef;
      height:43px;
      padding:0px;
      margin:0px 0px 1px 0px;
      -webkit-transition:all 0.25s ease-in-out;
      -moz-transition:all 0.25s ease-in-out;
      -o-transition:all 0.25s ease-in-out;
      transition:all 0.25s ease-in-out;
      cursor:pointer;
  }
  .sticky li:hover{
      margin-left:-115px;
  }
  .sticky li img{
      float:left;
      margin:5px 4px;
      margin-right:5px;
  }
  .sticky li p{
      padding-top:5px;
      margin:0px;
      line-height:16px;
      font-size:11px;
  }
  .sticky li p a{
      text-decoration:none;
      color:#2C3539;
  }
  .sticky li p a:hover{
      text-decoration:underline;
  }
    /* social */
@media(max-width:767px){
  .navbar-brand img{
    height: 10;
    width:10;
    
  }
}